.footer {
  color: rgb(43, 41, 41);
  text-align: center;
  padding: 40px 10%;
  width: 82vw;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-top: -10px;
}

.footer-content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-content p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.subscribe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.subscribe-box input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 250px;
  font-size: 1rem;
}

.subscribe-box button {
  padding: 10px 16px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.subscribe-box button:hover {
  background: #e63946;
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.company-info {
  font-size: 0.9rem;
}

.company-info a {
  color: rgb(12, 12, 12);
  text-decoration: none;
  font-weight: bold;
}

.company-info a:hover {
  text-decoration: underline;
}

.go-to-top {
  background-color: #eba4f4;
  color: rgb(60, 59, 59);
  width: 100vh;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 20px;
}

.go-to-top:hover {
  background-color: #ca76f4;
}
