.cart-page {
  padding: 20px;
  max-width: 800px;
  margin-left: 70px;
  background-color: #f2c4f1;
}
.left {
  display: flex;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.cart-info {
  flex: 1;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}
.cart-item-img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}

.quantity-controls button {
  padding: 5px 10px;
  background: #ddd;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.remove-btn {
  background: rgb(220, 121, 240);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background: rgb(228, 62, 237);
}

.cart-summary {
  margin-top: 20px;
  text-align: center;
}

.clear-cart,
.checkout {
  background: #6ff18d;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

.clear-cart {
  background: rgb(209, 109, 229);
}

.clear-cart:hover {
  background: rgb(193, 71, 238);
}
