.items {
  text-align: center;
  padding: 40px 5%;
  width: 120vw;
  margin-left: 180px;
}

.items h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
  background-color: #e5a0ee;
  width: 88vw;
  margin-right: 100px;
}

/* Images in one line */
.images {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;

  width: 90vw;
}

.item-card {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 180px;
  transition: transform 0.3s ease-in-out;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card img {
  width: 100%;
  max-height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.item-name {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 8px;
}

.item-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #e20ee9;
  margin: 5px 0;
}

.item-rating {
  font-size: 1rem;
  color: #f11af1;
  font-weight: 600;
}
