.hero-container {
  text-align: center;
  padding: 20px;
}

body {
  overflow-x: hidden;
  width: 100%;
  overflow-y: visible;
  margin: 0;
  padding: 0;
}
.text {
  margin-bottom: 30px;
  height: 100px;
  width: 95vw;
}
.hero-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-align: justify;
  display: inline-block; /* Ensures proper positioning */
  text-align: center;
  width: 100vw;
  height: 50px;
  margin-top: 50px;
  background-color: #cc8ee4;
}

.blink-text {
  color: rgb(243, 13, 55);
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 2;
  }
  100% {
    opacity: 0.1;
  }
}

.hero-image-wrapper {
  width: 100%;
  overflow: hidden;
}

.hero-image {
  width: 90%;
  height: 30vw;
  object-fit: cover;
  border: solid 2px rgb(183, 23, 247);
  border-radius: 10px;
  transition: opacity 2s ease-in-out;
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.hero-left h2 {
  font-size: 30px;
  font-weight: bold;
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-button button {
  background-color: #de65f6;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.hero-button button:hover {
  background-color: #c929ed;
}

.hero-video {
  margin-top: 20px;
}

.hero-video {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-video video {
  width: 85%;
  max-width: 800px;
  margin-top: 60px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  border: 3px solid #b717f7;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero-video video:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
}
.last {
  display: flex;
}
.lastdiv {
  max-width: 400px;
  margin-top: 100px;
}

.shop-now {
  background-color: #de65f6;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.shop-now:hover {
  transform: scale(1.05);
  background-color: #b717f7;
}
